body {
    background-color: black;
    font-family: "Courier New", Monospace;
    color: lime;
  }

  .output {
    margin: 1em;
    padding: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1.5em;
  }

  .input-choice {
      color:white;
  }